* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
/* Navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 92px;
  background-color: #ffffff;
  /* background-color: red; */
  padding: 16px 0px;
  margin: 0px 120px;
  font-weight: 600;
  font-size: 17px;
}
.logo img {
  width: 140px;
  height: 60px;
}
.menu-items ul {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.menu-items ul li {
  list-style: none;

  /* margin-bottom:20px; */
}

.menu-items ul a {
  text-decoration: none;
  color: #000000;

  gap: 15px;
}

.btn button {
  background-color: #30b868;
  color: white;
  font-weight: bold;
  padding: 12px 16px 12px 16px;
  border-radius: 4px;
  border: none;
  outline: none;
  font-size: 17px;
}
.btn button:hover {
  background-color: white;
  color: #30b868;
  transition: 1s;
  border: 2px solid #30b868;
}

/* Start Bannner  */
.banner {
  background-image: url(./assets/hero-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 58px;
}
.banner-text {
  color: #ffffff;
}

.title-text h1 {
  font-size: 72px;
  text-transform: capitalize;
}

.color-text {
  color: #30b868;
  padding-bottom: 25px;
}

.banner-btnA {
  margin-bottom: 23px;
  font-size: 19px;
  color: #30b868;
  background-color: #ffffff;
  border-radius: 30px;
  border: none;
  padding: 10px 25px;
  font-weight: 600;
}
.banner-btnA:hover {
  background-color: #30b868;
  transition: 1s;
  color: white;
  border: none;
}
.banner .para-text p {
  font-size: 18px;
  line-height: 2;
  padding-bottom: 40px;
}
.banner-btn {
  display: flex;
  justify-content: center;
  flex-direction: row;

  gap: 15px;
}
.banner-btnB {
  background-color: #30b868;
  color: white;

  padding: 14px 16px 14px 16px;
  font-size: 17px;
  font-weight: 600;
  display: flex;
  text-align: center;
  gap: 10px;
  border-radius: 5px;
  border: none;
  flex-direction: row;
}
.banner-btnB img {
  width: 17px;
}
.banner-btnC {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  border-radius: 5px;
  padding: 14px 14px 14px 14px;
  font-size: 17px;
  font-weight: 600;
}

.banner-btnB:hover {
  background-color: transparent;
  border: 2px solid white;
  transition: 1s;
  color: #30b868;
}
.banner-btnC:hover {
  background-color: #30b868;
  transition: 1s;
  border: none;
}
/* Start Main content */
main {
  max-width: 1360 px;
  margin: 0 auto;
  padding: 0 20px;
}

main section {
  margin-bottom: 40px;
}

/* For notes */
.note-title-text {
  text-align: center;
}
.note-title-text h1 {
  text-transform: capitalize;
  font-style: Bold;
  font-size: 48px;
  font-weight: 700;
  padding-bottom: 20px;
}

/* for note card */
.notes-card {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.card {
  max-width: 322px;
  height: 310;
  padding: 65px 38px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 -5px 20px rgba(0, 0, 0, 0.08);
  overflow: hidden;
}
.card-icon img {
  width: 100px;
  height: 100px;
  margin: 0 auto 20px;
  background-color: rgba(249, 85, 85, 1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 13px;
}

.card-icon img {
  width: 50px;
  height: 50px;
}
.card-title {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
  min-height: 52px;
}
.card-text {
  font-size: 15px;
  line-height: 1.6;
  min-height: 60px;
}
/* Start Brain Section */
.brain-section-content {
  margin-top: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
}
.brain-section-content .img-section img {
  width: 600px;
  height: 600px;
}
.brain-section-content span {
  color: #30b868;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 600;
}
.brain-section-content h1 {
  padding-top: 28px;
  padding-bottom: 30px;
  font-style: Bold;
  font-size: 48px;
  text-transform: capitalize;
}

.brain-section-content .text-section {
  text-align: start;
  /* padding-left:100px; */
}

.text-section p {
  color: grey;
  padding-bottom: 27px;
  line-height: 1.7;
}
.list-items {
  list-style: none;
}
.list-items li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
